---
import { Image } from "astro:assets";
// import AstroLogo from "../assets/astro-logo-gray.svg";
// import MenuButton from "../components/MenuButton.astro";
import Avatar from "../assets/avatar2.png";
import SocialVK from "../assets/social/VK_white.svg";
import SocialTG from "../assets/social/Telegram_white.svg";
import SocialGH from "../assets/social/Github_white.svg";
import SocialLIN from "../assets/social/LinkedIN_white.svg";
import SocialUNSP from "../assets/social/Unsplash_white.svg";

interface Props {
  title: string;
  subTitle?: string;
}

const { title, subTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <style is:global>
      @supports (-webkit-filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1))) {
        .drop-shadow-md {
          -webkit-filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
        }
      }
      .filter-gray {
        filter: invert(94%) sepia(5%) saturate(200%) hue-rotate(10deg)
          brightness(100%) contrast(95%);
      }
      @font-face {
        font-family: "Partisanpress";
        src: url("/fonts/Partisanpress.otf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      .name-photography-style {
        font-family: "Partisanpress", sans-serif;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        font-size: clamp(4rem, 30vw, 8rem);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      }
      @font-face {
        font-family: "LincolnElectric";
        src: url("/fonts/LincolnElectric-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      .name-panorama-style {
        font-family: "LincolnElectric", sans-serif;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        font-size: clamp(2rem, 20vw, 6rem);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        padding-bottom: 0.8rem;
      }
      @font-face {
        font-family: "SpecialEliteLomzz";
        src: url("/fonts/SpecialEliteLomzz.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      .name-story-style {
        font-family: "SpecialEliteLomzz", sans-serif;
        font-weight: normal;
        font-style: normal;
        line-height: 1.6;
        font-size: clamp(1rem, 15vw, 4.5rem);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      }

      @font-face {
        font-family: "AEmpirial";
        src: url("/fonts/aempirial.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      .name-font-style {
        font-family: "AEmpirial", sans-serif;
        font-weight: normal;
        font-style: normal;
        /* font-size: clamp(1rem, 10vw, 3rem); */
        /* line-height: 1; */
        letter-spacing: 0.4rem;
        color: rgba(0, 0, 0, 0.796);
      }
    </style>
    <title>{title}</title>
  </head>
  <body class="bg-[#F0EEEC]">
    <!-- <div class="grid grid-cols-6 gap-4 w-screen"> -->
    <div class="w-screen min-h-screen flex items-center justify-center">
      <div class="w-[95%] h-[95%]">
        <div
          class="flex flex-col gap-10 items-center justify-center w-[100%] h-[100%]"
        >
          <div class="flex flex-col items-center justify-center w-[100%] h-1/4">
            <Image
              class="w-32 sm:w-16 md:w-24 lg:w-32 xl:w-48 h-auto"
              src={Avatar}
              alt="descriptive text"
            />
            <p
              class="name-font-style text-2xl sm:text-3xl md:text-4xl lg:text-5xl pt-5"
            >
              Сергей
            </p>
            <p
              class="name-font-style text-2xl sm:text-3xl md:text-4xl lg:text-5xl"
            >
              Масленников
            </p>
          </div>
          <div
            class="bg-[#F2F2F2] rounded-[52px] shadow-md w-[100%] max-w-[800px] h-[100%]"
          >
            <div class="flex flex-col">
              <a href="#">
                <p class="name-photography-style flex justify-center">
                  фотографии
                </p>
              </a>
              <div class="w-[90%] border-b border-gray-300 mx-auto my-4"></div>
              <a href="#">
                <p class="name-panorama-style flex justify-center">панорамы</p>
              </a>
              <div class="w-[90%] border-b border-gray-300 mx-auto my-4"></div>
              <a href="#">
                <p class="name-story-style flex justify-center">нарративы</p>
              </a>
            </div>
          </div>
          <div
            class="flex flex-row justify-center items-end gap-5 w-[100%] h-[100%]"
          >
            <Image
              class="max-w-[35px] filter-gray"
              src={SocialVK}
              alt="descriptive text"
            />
            <Image
              class="max-w-[35px] filter-gray"
              src={SocialTG}
              alt="descriptive text"
            />
            <Image
              class="max-w-[35px] filter-gray"
              src={SocialGH}
              alt="descriptive text"
            />
            <Image
              class="max-w-[35px] filter-gray"
              src={SocialLIN}
              alt="descriptive text"
            />
            <Image
              class="max-w-[35px] filter-gray"
              src={SocialUNSP}
              alt="descriptive text"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
