---
import { Image } from "astro:assets";
import Avatar from "../assets/avatar2.png";
import SocialVK from "../assets/social/VK_white.svg";
import SocialTG from "../assets/social/Telegram_white.svg";
import SocialGH from "../assets/social/Github_white.svg";
import SocialLIN from "../assets/social/LinkedIN_white.svg";
import SocialUNSP from "../assets/social/Unsplash_white.svg";

interface Props {
  title: string;
  subTitle?: string;
}

const { title, subTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <style is:global>
      :root {
        --font-scale: min(2vw, 2vh);
      }

      @font-face {
        font-family: "Partisanpress";
        src: url("/fonts/Partisanpress.otf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      /* .name-photography-style {
        font-family: "Partisanpress", sans-serif;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        font-size: clamp(4rem, 30vw, 8rem);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      } */
      .name-photography-style {
        font-family: "Partisanpress", sans-serif;
        font-size: clamp(4rem, 7vw, 5rem);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        letter-spacing: 0.8rem;
      }

      @font-face {
        font-family: "LincolnElectric";
        src: url("/fonts/LincolnElectric-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      /* .name-panorama-style {
        font-family: "LincolnElectric", sans-serif;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        font-size: clamp(2rem, 20vw, 6rem);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        padding-bottom: 0.8rem;
      } */
      .name-panorama-style {
        font-family: "LincolnElectric", sans-serif;
        font-size: clamp(3rem, 5vw, 5rem);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        letter-spacing: 0.5rem;
      }

      @font-face {
        font-family: "SpecialEliteLomzz";
        src: url("/fonts/SpecialEliteLomzz.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      /* .name-story-style {
        font-family: "SpecialEliteLomzz", sans-serif;
        font-weight: normal;
        font-style: normal;
        line-height: 1.6;
        font-size: clamp(1rem, 15vw, 4.5rem);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      } */
      .name-story-style {
        font-family: "SpecialEliteLomzz", sans-serif;
        font-size: clamp(2.6rem, 4vw, 5rem);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        letter-spacing: 0.5rem;
      }

      @font-face {
        font-family: "AEmpirial";
        src: url("/fonts/aempirial.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      /* .name-font-style {
        font-family: "AEmpirial", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: clamp(1rem, 10vw, 3rem);
        line-height: 1;
        letter-spacing: 0.4rem;
        color: rgba(0, 0, 0, 0.796);
      } */
      .name-font-style {
        font-family: "AEmpirial", sans-serif;
        color: rgba(0, 0, 0, 0.796);
        letter-spacing: 0.4rem;
      }

      .filter-gray {
        filter: invert(94%) sepia(5%) saturate(200%) hue-rotate(10deg)
          brightness(100%) contrast(95%);
      }
    </style>
    <title>{title}</title>
  </head>
  <body class="bg-[#F0EEEC] flex justify-center items-center h-screen overflow-hidden">
    <!-- bg-red-400 -->
    <div id="main-container" class="w-[95vw] h-[90vh] flex flex-col gap-10">
      <!-- bg-green-400 -->
      <div id="avatar-container" class="w-full h-[25vh] flex flex-col gap-2 items-center justify-center overflow-hidden">
        <Image id="avatar-image" class="w-auto h-[14vh]" src={Avatar} alt="Аватар" />
        <div class="h-[10vh] flex flex-row">
          <p class="name-font-style text-center leading-none w-full h-auto flex items-center justify-center text-[4vh] font-light">Сергей</p>
          <p class="name-font-style text-center leading-none w-full h-auto flex items-center justify-center text-[4vh] font-bold">Масленников</p>
        </div>
      </div>
      <div id="content-container" class="w-full h-[60vh] flex justify-center items-center">
        <div class="bg-[#F2F2F2] max-w-[600px] rounded-[3vw] shadow-md w-[90vw] h-auto flex flex-col justify-center">
          <div class="flex flex-col">
            <a href="#"><p class="name-photography-style flex justify-center items-center h-[12vh]">фотографии</p></a>
            <div class="w-[90%] border-b border-gray-300 mx-auto my-2"></div>
            <a href="#"><p class="name-panorama-style flex justify-center items-center h-[12vh]">панорамы</p></a>
            <div class="w-[90%] border-b border-gray-300 mx-auto my-2"></div>
            <a href="#"><p class="name-story-style flex justify-center items-center h-[12vh]">нарративы</p></a>
          </div>
        </div>
      </div>
      <div id="footer-container" class="w-full h-[15vh] flex justify-center items-end">
        <div class="flex flex-row gap-5">
          <Image class="filter-gray w-[30px] h-auto" src={SocialVK} alt="VK" />
          <Image class="filter-gray w-[30px] h-auto" src={SocialTG} alt="Telegram" />
          <Image class="filter-gray w-[30px] h-auto" src={SocialGH} alt="Github" />
          <Image class="filter-gray w-[30px] h-auto" src={SocialLIN} alt="LinkedIn" />
          <Image class="filter-gray w-[30px] h-auto" src={SocialUNSP} alt="Unsplash" />
        </div>
      </div>
    </div>
  </body>
</html>