---
import { getCollection } from "astro:content";
import LayoutNew from "../layouts/LayoutNew.astro";
import Photo360Preview from "../components/Photo360Preview.astro";

const photos360 = await getCollection("photos360");
---

<LayoutNew title="Welcome to Astro.">
  <main>
    <!-- <div class="flex justify-center pt-2">
      <p class="text-3xl subpixel-antialiased">MASLE :: Posts</p>
    </div> -->
    <!-- <MyComponent /> -->
    <!-- <div>{JSON.stringify(photos360)}</div> -->
    <!-- <div class="grid grid-cols-4 gap-4 place-items-center xs:grid-cols-1"> -->
    <div class="flex flex-wrap justify-center gap-10">
      {
        photos360.map((photo) => (
          //   {/* <article> */}
          // 	{/* <h2>{post.frontmatter.title}</h2> */}
          // 	{/* <p>{post.frontmatter.description}</p> */}
          // 	{/* <a href={post.url}>Read more</a> */}
          //   {/* </article> */}
          // <a href={Astro.url.pathname + photo.id}>{photo.data.title} — {photo.data.author} — {photo.id} - {photo.data.isDraft}</a>

          // <div>
          //   <a href={Astro.url.pathname + '/' + photo.id}>
          //     <img src={photo.data.previewUrl} class="w-60 rounded-lg" />
          //     <div>{photo.data.title}</div>
          //   </a>
          // </div>

          <Photo360Preview 
          url={photo.data.previewUrl} 
          href={Astro.url.pathname + '/' + photo.id}
          title={photo.data.title}
          />
        ))
      }
    </div>
  </main>
</LayoutNew>
