---
import MainView from "../layouts/MainView.astro";
import { Image } from "astro:assets";
import Avatar from "../assets/avatar.png";
import SocialVK from "../assets/social/VK_white.svg";
import SocialTG from "../assets/social/Telegram_white.svg";
import SocialGH from "../assets/social/Github_white.svg";
import SocialLIN from "../assets/social/LinkedIN_white.svg";
import SocialUNSP from "../assets/social/Unsplash_white.svg";
---

<MainView title="MASLE">
  <div id="main-container" class="w-[95vw] h-[90vh] flex flex-col gap-10">
    <div
      id="avatar-container"
      class="w-full h-[25vh] flex flex-col gap-2 items-center justify-center overflow-hidden"
    >
      <Image
        id="avatar-image"
        class="w-auto h-[14vh]"
        src={Avatar}
        alt="Аватар"
      />
      <div class="h-[10vh] flex flex-row">
        <p
          class="name-font-style text-center leading-none w-full h-auto flex items-center justify-center text-[4vh] font-light"
        >
          Сергей
        </p>
        <p
          class="name-font-style text-center leading-none w-full h-auto flex items-center justify-center text-[4vh] font-bold"
        >
          Масленников
        </p>
      </div>
    </div>
    <div
      id="content-container"
      class="w-full h-[60vh] flex justify-center items-center"
    >
      <div
        class="bg-[#F2F2F2] max-w-[600px] rounded-[3vw] shadow-md w-[90vw] h-auto flex flex-col justify-center"
      >
        <div class="flex flex-col">
          <a href="/photography"
            ><p
              class="name-photography-style flex justify-center items-center h-[12vh]"
            >
              фотографии
            </p></a
          >
          <div class="w-[90%] border-b border-gray-300 mx-auto my-2"></div>
          <a href="#"
            ><p
              class="name-panorama-style flex justify-center items-center h-[12vh]"
            >
              панорамы
            </p></a
          >
          <div class="w-[90%] border-b border-gray-300 mx-auto my-2"></div>
          <a href="#"
            ><p
              class="name-story-style flex justify-center items-center h-[12vh]"
            >
              нарративы
            </p></a
          >
        </div>
      </div>
    </div>
    <div
      id="footer-container"
      class="w-full h-[15vh] flex justify-center items-end"
    >
      <div class="flex flex-row gap-5">
        <Image class="filter-gray w-[30px] h-auto" src={SocialVK} alt="VK" />
        <Image
          class="filter-gray w-[30px] h-auto"
          src={SocialTG}
          alt="Telegram"
        />
        <Image
          class="filter-gray w-[30px] h-auto"
          src={SocialGH}
          alt="Github"
        />
        <Image
          class="filter-gray w-[30px] h-auto"
          src={SocialLIN}
          alt="LinkedIn"
        />
        <Image
          class="filter-gray w-[30px] h-auto"
          src={SocialUNSP}
          alt="Unsplash"
        />
      </div>
    </div>
  </div>
</MainView>
